body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 10px 0px;
    margin: 0px;
}
.container{
    display: flex;
    justify-content: space-between;  
    padding: 0px 60px;
}
.logo{
    display: inline-flex;
    margin-top: 10px;
}
.logo img{
    padding-right: 10px;
    height: 40px;
    
}
.logo h2{
    margin-top: 0;
    padding-top: 5px;
    font-size: 25px;
}
#dot{
    color: #ff8e04;
}
.navigation ul a{
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    font-weight: 600;
    color:#72777c;
    position: relative;
}
.navigation ul{
    list-style-type: none;
    display: flex;
}

.navigation a::after{
    content:'';
    position: absolute;
    display: block;
    width:0%;
    height: 3px;
    background-color: #ff8e04;
    bottom: -6px;
    transition: all ease-in-out 0.5s;
}
.navigation a:hover{
    color: #ff8e04;
}
.navigation a:hover::after{
    width:30%;
}
.login-btn{
    margin-top: 10px;
}
.login-btn a{
    padding-left: 15px;
    
}
#login{
    background-image: linear-gradient(to right, #fff , #fff);
    border: 1px solid gray;
    border-radius: 20px;
    padding:10px 25px;
    font-size: 15px;
    font-weight: 700;
    color: #ff8e04;
}
#login:hover{
    background-image:linear-gradient(to right, #ff6702 , #f3ae59);
    border-radius: 20px;
    border: 1px solid #fff;
    padding:10px 25px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.sign-up{
    background-image:linear-gradient(to right, #ff6702 , #f3ae59);
    border-radius: 20px;
    border: 1px solid #fff;
    padding:10px 25px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    
}
.sign-up:hover{
    background-image: linear-gradient(to right, #fff , #fff);
    border: 1px solid gray;
    color: #ff8e04;
    cursor: pointer;
    padding:10px 25px;
}

.bdy-container{
    display: flex;
    margin-bottom: 80px;
    padding:0px 60px;
}
.half-width-txt{
    width: 50%;
    font-size: 20px;
    margin-top: 50px;
}
.half-width-txt p{
    color: #888888;
}

.h-clr{
    color: #ff8e04;  
}
.half-width-txt h1{
    font-size: 50px;
}
.half-width-img{
    width: 50%;
    margin-left: 150px;
}
.fa-circle-play{
    width: 200px;
    height: 200px;
}
.ply-btn{
    height:0px;
    width: 0px;
    color: #ff6702;
    text-decoration: none;
    margin-top: 0;
    padding: 0;
}
.fab-icon{
    margin-top: 3%;
    margin-left: 1% ;
    padding: 0;
}
.wth-btn:hover .fab-icon{
    color: #fff;
}
.wth-btn{
    background-color: #fff;
    padding: 8px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 5px 10px 18px #888888;
    margin-left: 50px;
    margin-right: 20px;
    
 }
.wth-btn:hover{
    background-color: #ff8e04;
}
#wv{
    font-weight: 600;
}
.icon-container{
    display: flex;
    justify-content: center;
    background-color: #F4F7FE;
    padding: 30px;
    padding-top: 40px;
}
.icon-container img{
    padding-left: 30px;
    padding-right: 30px;
}
.text{
    text-align: center;
    margin-bottom: 50px;
}
.text h2{
    font-weight: 900;  
}
.text p{
    color:#72777c;
}
.trd-container{
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.trd{
    padding: 0px 60px;
}
.onethrd-width{
    width: 30%;
    height: 200px;
    border: 1px solid #c7ccd1;
    text-align: center;
    padding: 2%;
    margin: 0px 20px;
    border-radius: 10px;
}
.body-bar{
    display: flex;
    justify-content: center;
}
.fa-brands{
   background-color: #c7ccd1;
   padding: 10px;
   border-radius: 50%;
}
.onethrd-width:hover{
    width: 30%;
    height: 200px;
    border: 1px solid #fff;
    text-align: center;
    padding: 2%;
    margin: 0px 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    transform: scale(1.05);
    transition: transform 1s;
}
.onethrd-width:hover .fa-brands{
    background-color: #704FE5;
    padding: 10px;
    border-radius: 50%;
 }
.frth-container{
    display: flex;
    margin-bottom: 80px;
    padding: 0px 60px;  
}
.half-width-frthimg{
    width: 50%;
    margin-left: 50px;
}
.fith-container{
    display: flex;
    background-color:#F4F7FE ;
    padding: 50px 20px;

}
.fth-txt{
    padding-left: 80px;
}
.six-container{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0px 40px;
}
#num{
    color: #ff8e04;
}
.blog-post{
    width: 30% ;
    height: 550px;
    margin: 0px 20px;
    border-radius: 10px;
    
}
.blog-post img{
    width: 404.688px;
    height: 400px;
    border-radius: 10px;
}
.blog-txt{
    padding: 20px;
}
.blog-post:hover{
    width: 30% ;
    height: 550px;
    margin: 0px 20px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
    transform: scale(1.1);
    transition: transform 1s;
}
